# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.ipynb_checkpoints

# Android artifacts
.gradle/
build/
local.properties
.idea/
*.iml
*.log
.DS_Store
captures/
.externalNativeBuild
.cxx

# Android specifics (nested)
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/warnings.txt
